.elenco {
    text-align: center; /* Centraliza os títulos */
}

.elenco h1{
    text-align: center;
}

.elenco h2{
    text-align: center;
    font-family: 'RM Neue', Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 25px;
    font-weight: 700;
}

.elenco-container {
    display: flex;
    justify-content: center; /* Centraliza as imagens dentro da div principal */
    gap: 20px; /* Espaçamento entre as imagens */
    flex-wrap: wrap;
}

.jogador {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: inline-block; /* Mantém o tamanho baseado no conteúdo interno */
    text-align: center; /* Centraliza o conteúdo dentro de cada div de goleiro */
}

.jogador img {
    max-width: 100%; /* A imagem ocupará toda a largura disponível sem alterar o tamanho */
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.card {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), #1d2d50); 
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(100%);
    font-family: 'RM Neue', Arial, Helvetica, sans-serif;
}

.card h3 {
    font-weight: 700;
    margin-bottom: 10px;
    color: #ffd700;
    font-size: 24px;
}

.card p {
    margin: 0;
    color: #dee5fd;
    font-weight: 400;
    font-size: 18px;
}

.card a {
    margin-top: 20px;
    color: #1d2d50;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    border: 1px solid #EE324E;
    color: #ffff;
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-family: 'RM Neue', Arial, Helvetica, sans-serif;
}

.jogador:hover img {
    transform: scale(1.1);
}

.jogador:hover .card {
    opacity: 1;
    transform: translateY(0);
}
