.logo {
  max-width: 100px;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  border-color: rgb(254,190,16);
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;

  li {
    font-weight: bold;
    a {
      color: $cor-texto;
      text-decoration: none;

      &:hover{
        color: rgb(254,190,16);
        transition: 0.5s;
      }
    }
  }
}
  