@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* PRIMEIRO */
body {
  font-family: sans-serif; /* fonte sem serifa */
  font-size: 16px; /* tamanho da fonte, o tamnho padrão já é 16px */
  background-color: rgb(255, 255, 255);
}

.img-fluid {
  width: 100%; /* Largura 100% */
  height: auto;
}

.text-center {
  text-align: center; /* Alinha o texto dos filhos do elemento*/
  color: black; /* Define a cor dos filhos do elemento*/
}

h1 {
  color: rgb(0, 82, 159); /* Define a cor do texto */
}

.sobre p {
  margin-top: 10px;
  text-align: justify;
}

input,
label {
  display: block;
  width: 100%;
}

input {
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: white;
}
input:hover {
  color: rgb(0, 82, 159);
  transition: 0.5s;
  border-color: rgb(0, 82, 159);
}

label {
  margin-top: 15px;
}

input,
textarea {
  border-radius: 5px;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  margin-top: 10px;
  border: 2px solid black;
  resize: none;
}

h1 {
  font-weight: bold;
  font-size: 1.5em; /* unidade de medida baseada no tamanho atual */
  margin-bottom: 10px; /* CHALLENGE!!!! Colocar em EM */
}

.logo {
  max-width: 100px;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  border-color: rgb(254, 190, 16);
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.menu li {
  font-weight: bold;
}
.menu li a {
  color: rgb(0, 82, 159);
  text-decoration: none;
}
.menu li a:hover {
  color: rgb(254, 190, 16);
  transition: 0.5s;
}

.position-relative {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.foto {
  max-width: 200px;
  transform: translateX(-30px);
}

footer {
  margin-top: 30px;
}

.container {
  max-width: 800px; /* Largura máxima do container */
  background-color: white;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(254, 190, 16);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 50px;
  border-radius: 25px;
}
@media (max-width: 850px) {
  .container {
    max-width: 600px;
  }
}

.elenco {
  text-align: center; /* Centraliza os títulos */
}

.elenco h1 {
  text-align: center;
}

.elenco h2 {
  text-align: center;
  font-family: "RM Neue", Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin: 25px;
  font-weight: 700;
}

.elenco-container {
  display: flex;
  justify-content: center; /* Centraliza as imagens dentro da div principal */
  gap: 20px; /* Espaçamento entre as imagens */
  flex-wrap: wrap;
}

.jogador {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: inline-block; /* Mantém o tamanho baseado no conteúdo interno */
  text-align: center; /* Centraliza o conteúdo dentro de cada div de goleiro */
}

.jogador img {
  max-width: 100%; /* A imagem ocupará toda a largura disponível sem alterar o tamanho */
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.card {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), #1d2d50);
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateY(100%);
  font-family: "RM Neue", Arial, Helvetica, sans-serif;
}

.card h3 {
  font-weight: 700;
  margin-bottom: 10px;
  color: #ffd700;
  font-size: 24px;
}

.card p {
  margin: 0;
  color: #dee5fd;
  font-weight: 400;
  font-size: 18px;
}

.card a {
  margin-top: 20px;
  color: #1d2d50;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  border: 1px solid #EE324E;
  color: white;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  font-family: "RM Neue", Arial, Helvetica, sans-serif;
}

.jogador:hover img {
  transform: scale(1.1);
}

.jogador:hover .card {
  opacity: 1;
  transform: translateY(0);
}

.sobre img {
  align-items: center;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}/*# sourceMappingURL=styles.css.map */